In [18]:
import tushare as ts

In [19]:
ts.set_token('b54c4caabdbf0e036fc04e0d89fe08011ffb7258b747bfde7ec393d0')

In [20]:
pro = ts.pro_api()

In [21]:
ts.get_today_all()

[Getting data:]############################################

,code,name,changepercent,trade,open,high,low,settlement,volume,turnoverratio,amount,per,pb,mktcap,nmc
0,688981,中芯国际,-0.082,60.95,60.95,61.52,60.23,61.00,38878642,3.73750,2369257921,0.000,4.629,4.693230e+07,6.340209e+06
1,688788,科思科技,-4.512,214.37,224.42,227.87,213.39,224.50,1134602,6.82207,250159005,54.052,15.134,1.619227e+06,3.565263e+05
2,688777,中控技术,-4.745,98.97,101.88,104.79,95.26,103.90,7118894,18.23820,707538461,0.000,20.685,4.862297e+06,3.863085e+05
3,688600,皖仪科技,-1.936,19.25,19.71,19.71,19.21,19.63,410401,1.35253,7957189,28.731,3.306,2.566795e+05,5.841068e+04
4,688599,天合光能,-5.949,20.71,21.81,22.18,20.31,22.02,36131613,11.64784,763338359,0.000,2.918,4.282883e+06,6.424242e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4200,600241,*ST时万,-2.367,3.30,3.35,3.41,3.28,3.38,2538088,0.86241,8510037,-3.511,0.989,9.711970e+04,9.711970e+04
4201,600238,ST椰岛,-3.723,5.69,5.91,5.95,5.63,5.91,2609383,0.58638,15064447,-9.483,5.142,2.550258e+05,2.532059e+05
4202,600234,ST山水,-1.848,9.03,9.15,9.19,8.78,9.20,122900,0.06071,1115659,112.875,17.772,1.828086e+05,1.828086e+05
4203,600228,ST昌九,-0.336,11.85,11.89,12.08,11.60,11.89,2104750,0.87218,24789525,-504.255,55.870,2.859642e+05,2.859642e+05
4204,600226,*ST瀚叶,-1.053,1.88,1.95,1.96,1.82,1.90,46154312,1.88392,87344855,-8.545,1.574,5.882544e+05,4.605827e+05

In [25]:
df = ts.get_realtime_quotes('002941')
df[['code','name','price','bid','ask','volume','amount','time','b1_v','b1_p','a1_v','a1_p']]

,code,name,price,bid,ask,volume,amount,time,b1_v,b1_p,a1_v,a1_p
0,002941,新疆交建,12.710,12.710,12.710,4531043,57409495.960,14:57:27,129,12.710,129,12.710